.h1 {
    text-align: center;
}
.h21 {
    text-align: center;
}
.word {
    cursor: pointer;
    user-select: none;
    text-transform: capitalize;
    letter-spacing: 0.15rem;
}
#hh2 {
    text-align: center;
}
#hhh1 {
    text-align: center;
    word-spacing: 0.4rem;
    letter-spacing: 0.2rem;
}
#inform {
    position: fixed;
    top: 10px;
    left: 10px;
}
body {
    background: black;
    color: rgb(191, 191, 191);
}
.container {
     max-width: 390px;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .container {
        max-width: 920px;
    }
}
@media (min-width: 1080px) {
    .container {
        max-width: 1920px;
    }
}
#ppp1 {
    text-align: right;
}
.nav {
    background: rgb(225, 196, 34);
    color: rgb(0, 0, 0);
    margin-left: 75%;
    text-align: center;
    border-radius: 1rem;
    
}
