.h1 {
    text-align: center;
}
.h21 {
    text-align: center;
}
.word {
    cursor: pointer;
    user-select: none;
    text-transform: capitalize;
    letter-spacing: 0.15rem;
}
#hh2 {
    text-align: center;
}
#hhh1 {
    text-align: center;
    word-spacing: 0.4rem;
    letter-spacing: 0.2rem;
}
#ppp1 {
    position: fixed;
    top: 0px;
    right: 28%;
}
.nav {
    position: fixed;
    top: 15px;
    right: 6%;
}
#inform {
    position: fixed;
    top: 10px;
    left: 10px;
}
