.h1 {
    text-align: center;
}
.h21 {
    text-align: center;
}
#hh2 {
    text-align: center;
}
#hhh1 {
    text-align: center;
    word-spacing: 0.4rem;
    letter-spacing: 0.2rem;
}
#inform {
    position: absolute;
    top: 1.5rem;
    left: 0;
    background-color: rgb(255, 243, 182);
    border-radius: 0.5rem;
    border: solid 1px black;
}
body {
    background: rgb(255, 243, 182);
  color: rgb(0, 0, 0);
}
.container {
     max-width: 390px;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .container {
        max-width: 920px;
    }
}
@media (min-width: 1080px) {
    .container {
        max-width: 1920px;
    }
}
#ppp1 {
    text-align: center;
}
.nav {
    background: rgb(225, 196, 34);
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 1rem;
}
.word music {
    cursor: pointer;
    user-select: none;
    text-transform: capitalize;
    letter-spacing: 0.15rem;
}
.bbuu {
    background-color: rgb(235, 227, 11);
    border-radius: 10px;
}
.word {
    cursor: pointer;
    user-select: none;
    text-transform: capitalize;
    letter-spacing: 0.15rem;
}

.module {
    cursor: pointer;
    user-select: none;
    text-transform: capitalize;
    letter-spacing: 0.15rem;
    text-align: center;
    font-size: 1.5rem;
}
.section {
     cursor: pointer;
    user-select: none;
    text-transform: capitalize;
    letter-spacing: 0.15rem;
    text-align: center;
    font-size: 1rem;
}
.btnIT {
    background-color: rgb(229, 205, 18);
    border-radius: 0.5rem;
    margin-left: 48%;
}
#ITw {
    text-align: center;
    letter-spacing: 0.2rem;
    word-spacing: 0.4rem;
}
